{% extends  'todo_list/header.html' %}
{% block content %}

	{% for obj in object_list %}
	<div class="row center-align">
		<div class="col s6 m6 l6 blue offset-s2 offset-m2 offset-l2 bottom-space hoverable">
				<p>{{obj.title}} started: {{obj.started}}</p>
				
		</div>
		<div class="col s3 m3 l3 bottom-space left-align">
				<a class="btn-large waves-effect" >X</a>
		</div>
	</div>
	{% endfor %}

	<div class="form">
	<form method="POST" action="#"> 
	{% csrf_token %}
	<label for="task_name">Task Name:</label>
	{{form.name}}

	<input type="submit">
	</form>

{% endblock %}